* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-color: #ffff;
  --background-secondary: #f2f2f2;
  --secondary-text: #b0b0b0;
  --header-and-title: #005f73;
  --primary-text: #333333;
  --body-color: #f2f2f2;
}
html,
body {
  background-color: var(--body-color);
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  color: var(--header-color);
  font-weight: bold;
  padding: 20px;
  height: auto;
  background-color: var(--header-and-title);
  img {
    height: 60px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-secondary);
  background-color: var(--header-and-title);
  height: 70px;
  width: 100%;
  a {
    text-decoration: none;
    color: #000;
  }
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;

  h2,
  p {
    color: var(--secondary-text);
  }
}
.contagem-regressiva {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f44336;
  margin-top: 10px;
}
.wrap {
  height: 300px;
}
.all-feriados {
  ul {
    padding: 0;
  }
}
.card {
  padding: 10px;
  height: 320px;
  width: auto;
  transition: transform 0.3s ease;
  img {
    width: 100%;
  }
  .card-title {
    font-size: 16px;
  }
  .card-text {
    margin-bottom: 5px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.card:hover {
  background-color: var(--header-and-title);
  cursor: pointer;
  transform: scale(0.95);
}
.feriado {
  background-color: #f44336;
  color: #000;
}
.btn.btn-primary {
  background-color: #f44336;
  border: none;
  transition: 0.3s;
}
.btn.btn-primary:hover {
  background-color: #00a8e8;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s ease;
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-prev,
.custom-next {
  filter: invert(1);
  width: 30px;
  height: 30px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s ease;
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-prev,
.custom-next {
  filter: invert(1);
  width: 30px;
  height: 30px;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
  .carousel-control-prev {
    left: -20px;
  }

  .carousel-control-next {
    right: -20px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    height: 40px;
  }

  .custom-prev,
  .custom-next {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 575px) {
  .card {
    height: auto;
    margin: 30px;
  }
}
